/* Custom styles */

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 15px;
    color: #8a96a0;
    background-color: #fff;
}

#testrApp {
    display: flex;
    flex-direction: column;
	height: 100%;
    min-height: 100%;
    min-width: 1600px;
}

.headerArea {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebedf8;
}

.headerArea > div:first-child {
    flex: 0 0 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.headerArea > div:last-child {
    margin-right: 50px;
}

.bodyArea {
    width: 100%;
    display: flex;
    flex: 1;
    background-color: #fff;
}

.bodyArea > div:first-child {
    flex: 0 0 85px;
    display: flex;
    justify-content: center;
    border-right: 1px solid #ebedf8;
}

.bodyArea > div:last-child {
    width: 100%;
    /* flex: 1 1 auto; */
}

.footerArea {
    width: 100%;
    display: flex;
    flex: 0 0 50px;
    background-color: #fafbfc;
}

.footerArea > div:first-child {
    flex: 0 0 85px;
    display: flex;
    background-color: #fff;
    border-right: 1px solid #ebedf8;
}

.footerArea > div:last-child {
    width: 100%;
}

.navMenu {
    display: flex;
    width: 100%;
    justify-content: flex-start !important;
    flex-direction: column;
    padding-top: 50px;
}

.navMenu a {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    padding: 15px 0;
    margin: 10px 0;
    text-align: center;
    border-right: 3px solid transparent;
}

.navMenu a.active {
    border-right-color: #0077ff;
}

.title {
    font-family: Lato, Roboto, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: normal;
    color: #1a173b;
    /* margin: 0 0 25px 0; */
}

.commonHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progressBar {
    width: 170px;
    background-color: #c7cdd9;
    border-radius: 3px;
}

.progressBar > div {
    width: 75%;
    height: 6px;
    background-color: #0077ff;
    border-radius: 3px;
}

.spColor {
    color: #354052;
}

.displayInlineBlock {
    display: inline-block;
}

.areaPadding {
    padding: 40px 0;
}

.positionRel {
    position: relative;
    display: inline-block;
}

.badgePositionLeftTop {
    top: -4px;
    right: -14px;
}

.badge {
    position: absolute;
    font-size: .75rem;
    font-weihgt: .bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22px;
    min-height: 22px;
    border-radius: 14px;
    box-shadow: 0 1px 2px 0 #ccc;
    color: #fff;
    background-color: #fecf33;
    border: 2px solid #fff;
}

.button,
.solidButton,
.textButton {
    font-size: .85rem;
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
    border: none;
}

.textButton {
    font-family: Helvetice, sans-serif;
    font-size: .95rem;
    color: #1880e7;
    background: none;
    text-transform: uppercase;
}

.blueButton {
    color: #fff;
    background-color: #0077ff;
    border: 1px solid #0077ff;
}

.borderedBlueButton {
    color: #0077ff;
    background-color: #fff;
    border: 1px solid #0077ff;
}

.borderedGreyButton {
    color: #8a96a0;
    background-color: #fff;
    border: 1px solid #8a96a0;
}
